<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="CurrentAccount.WinService.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <connectionStrings>
    <add name="CurrentAccount" connectionString="data source=DEVDB;initial catalog=CurrentAccountPreprodCopy;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=CAProcessService" providerName="System.Data.SqlClient" />
    <add name="ContUnic" connectionString="data source=DEVDB;initial catalog=CurrentAccount_ContUnic;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ReconfiguredBudgetClassifications" value="11120,11121,11122,11501,11510,11511,11512,11513,11514,11515,11516,11517,11544" />
    <add key="CNASTestOnly" value="0" />
    <add key="CNASSkipVerification" value="1" />
    <add key="CNASSkipSomeCheck" value="1" />
    <add key="ReportServer" value="http://devdb/ReportServer" />
    <add key="RSUser" value="ReportUser" />
    <add key="RSPassword" value="RepUser#437" />
    <add key="RSDomain" value="" />
    <add key="RSFolder" value="" />
    <add key="Parallelism" value="8" />
  
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="ServiceBinding" maxBufferPoolSize="524288000" maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxArrayLength="65536000" maxStringContentLength="65535" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ProcessServiceBehavior" name="CurrentAccount.WinService.ProcessService">
        <endpoint address="net.pipe://localhost/CurrentAccountProcessService" binding="netNamedPipeBinding" bindingConfiguration="ServiceBinding" contract="CurrentAccount.Data.Processes.IProcessService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ProcessServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <log4net debug="true">
    <root>
      <appender-ref ref="DebugFileAppender" />
    </root>
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="Logs\debug" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p [%d] [%C.%M] %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>