<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="Sage50ApplicationID" value="7OzMf+fDer9SYGJE0DXFcdM1o4Ss1DUhUp7crFgiEk4WWMK4Pjpa5Q==wMV81b1OF03+5H+wZBXZOKU5WTbh08tFyOwPsUGMPWV3Qc15BvfXSx83ttLWASvUasK3lROTT24LPIrct9hum7RM3GfEv55CF5hb7jIckIbdHAwyMekjjE5rxBPIdF0H9JjrJ+YkEGJ/7CUolX0bOUsK/1Z1FHDbDVycvVz5t6KvtV/vRLUsWPp7iIJh2dLeP6eszs8MWPdnauddjzitbUQ6qLEKZSUanHfuhGg57fo=" />
  </appSettings>
</configuration>