<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Authenticate token for authorization purpose  -->
    <add key="AuthToken" value="ojjhxXY4EPWcg8eqGYjh6D7^HgD%D5ZYXy%UwRIcv8fiXOvI$gceXnHComyIv80b" />

    <!-- Apination REST Api Base Url -->
    <!--<add key="ApinationBaseUrl" value="http://localhost:60000" />-->
    <add key="ApinationBaseUrl" value="http://api.apination.com" />

    <!-- Configuration endpoint relative Url -->
    <add key="ConfigRelativeUrl" value="connectors/sage50/clients/:clientId/config" />
    <!--
      <add key="ConfigRelativeUrl" value="connectors/sage50/clients/:clientId/config" />
      http://api.apination.com/connectors/sage50/clients/greenville-scale-sage-1/config      
      <add key="ConfigRelativeUrl" value="api/config" />
    -->

    <!-- ClientId value -->
    <add key="ClientId" value="greenville-scale-sage-1" />

    <!-- A valid application ID is needed in order to connect to regular Sage 50 companies (nonsample companies). 
         To have a unique application ID generated for your third-party application, please send a request to sdk.50us@sage.com. -->
    <add key="Sage50ApplicationID" value="" />
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
</configuration>